[Unit]
Description=CO2 monitor to MQTT
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /opt/co2mqtt/co2mqtt.py

[Install]
WantedBy=multi-user.target
